body {
    background: #0f172a;
    color: white;
    text-align: center;
    font-family: Arial;
}

img {
    width: 70%;
    border: 4px solid red;
    border-radius: 10px;
    box-shadow: 0 0 20px red;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
